.Hero{
    display: flex;
    justify-content: space-between;
}

.left-h{
    flex:5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    
}

.right-h{
    flex: 1;
    background: var(--orange);
    margin-left: 1rem;
    position: relative;
}

.animating-ad{
    margin-top: 3rem;
    margin-left: 1rem;
    background: #363d42;
    width: fit-content;
    border-radius: 4rem;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.animating-ad>span{
    z-index: 2;
}
.animating-ad>div{
    background: var(--orange);
    position: absolute;
    border-radius: 3rem;
    height: 80%;
    width: 6rem;
    z-index: 1;
}

.heroHeading{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: white;
}

.heroHeading>div:nth-child(3){
    text-transform: none;
    font-size: 1rem;
    font-weight: 200;
    margin-top: 2rem;
    letter-spacing: 1px;
    width: 70%;
}

.hero-button{
    display: flex;
    gap: 1rem;
    

}

.hero-button>:nth-child(1){
    background: var(--orange);
    width: 8rem;
    color: white;
}

.hero-button>:nth-child(2){
    background: transparent;
    width: 8rem;
    color: var(--orange);
    border: 2px solid var(--orange);
}

.figures{
    display: flex;
    gap: 2.5rem ;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.figures>div{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.figures>div>:nth-child(1){
    color: white;
}

.figures>div>:nth-child(2){
    color: var(--grey);
    text-transform: uppercase;
    font-size: 1rem;
}

.logoClean{
    width: 5rem;
    max-height: 6rem;
    right: 2rem;
    position: absolute;
    bottom: 4rem;
}
.right-h>button{
    position: absolute;
    left: 1rem;
    top: 2.5rem;
    padding: 0.3rem 1rem;
}

.hero-image{
    width: 15rem;
    max-height: fit-content;
    object-fit: cover;
    position: absolute;
    top: 7rem;
    left: -7.5rem;
}
.hero-image-back{
    width: 15rem;
    max-height: auto;
    object-fit: cover;
    top: 6rem;
    z-index: 1;
    position: absolute;
    left: -13rem;
}

.heroBlur{
    width: 22rem;
    height: 25rem;
    left: 0;
}

@media screen and (max-width:768px) {
    .Hero{
        flex-direction: column;
    }
    .heroBlur{
        width: 14rem;
    }
    .animating-ad{
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.7);
        width: 120%;
    }
    .heroHeading{
        align-items: center;
        font-size: xx-large;
        justify-content: center;
        padding: 1rem;
        text-align: center;
    }
    .figures>div>span:nth-of-type(1){
        font-size: large;
    }
    .figures>div>span:nth-of-type(2){
        font-size: small;
    }
    .figures{
        font-size: 1rem;
        gap: 1rem;
    }
.right-h{
    position: relative;
    background-color: transparent;
}
.right-h>img{
    position: relative;
}
.right-h>button{
    width: 80%;
    justify-content: center;
}

.hero-button{
    justify-content: center;
}
.right-h>img:nth-of-type(1){
    left: 5rem;
    margin-bottom: 6rem;
}
.right-h>img:nth-of-type(2){
    position: absolute;
    left: 0 !important;
}
.logoClean{
    display: none;
}

}